.card-title i {
    color: #0d6efd;
}

.table-sm td, .table-sm th {
    vertical-align: middle;
}

.card .table th, .card .table td {
    padding: 0.5rem;
}
.badge.bg-warning.text-dark {
    box-shadow: 0 0 8px rgba(255, 193, 7, 0.7);
    font-weight: 600;
}
